/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.dosf-admin-header .fa-plus-circle,
.dosf-admin-header .dashicons-plus-alt{
    color: green;
    font-size: 20px ;
}

.dosf-admin-header .action-wrapper:hover .fa-plus-circle,
.dosf-admin-header .action-wrapper:hover .dashicons-plus-alt{
    color: rgb(156, 255, 156);
    font-size: 20px ;
}

.dosf-admin-header .fa-minus-circle,
.dosf-admin-header .dashicons-dismiss{
    color: red;
    font-size: 20px ;
}

.dosf-admin-header .action-wrapper:hover .fa-minus-circle,
.dosf-admin-header .action-wrapper:hover .dashicons-dismiss{
    color: rgb(253, 202, 202);
    font-size: 20px ;
}

.dosf-admin-header .fas{
    margin-right: 6px;
}

.action-wrapper{
    margin-right: 15px;
    display: flex;
    align-items: center;
    cursor: default;
    border: 2px solid #444;
    padding: 5px 8px;
    border-radius: 10px;
}

.action-wrapper:hover{
    background-color: #246355;
    color: white;
}

.dosf-admin-header{
    display: flex;
    justify-content: flex-start;
}

.fields-wrapper{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 0px;
}

.actions-wrapper{
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px;
}

.dosf-admin-header{
    margin-bottom: 12px;
}

.display.dataTable{
    margin-top: 12px;
}

/* Estilos para datatable */
#main-container{
    width: 100%;
    display: flex;
    justify-content: center;	
}

table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.th, .td{
    padding: 20px;
}

.thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

.tr:nth-child(even){
    background-color: #ddd;
}

.tr:hover .td{
    background-color: #369681;
    color: white;
}
            
.dataTables_paginate, .paging_simple_numbers{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
            
.dataTables_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 1rem 0px;
}	
            
            
#tabla_next, #tabla_previous{
    position: relative !important;
    display: block !important;
    color: #0d6efd !important;
    text-decoration: none !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;

    text-align: center !important;
    padding: 8px !important;
    border-radius: 8px !important;
}

#dosf-data-tbl{
    padding-right: 20px;
}

.display.dataTable{
    margin-top: 12px;
}
/* fin de los estilos para el datatable */

.dosf-plus-options-actions{
    margin-top: 20px;
}

.display.dataTable .actions > div{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.action.remove-dosf{
    color: red;
}

.processing img {
	width: 20px;
	border-radius: 10px;
}

#rem-dosf.disabled {
    color: gray !important;
}
#rem-dosf.disabled .dashicons.dashicons-dismiss {
    color: gray !important;
}

#rem-dosf.disabled:hover {
	background-color: unset !important;
}

.dosf-admin-add-so {
    padding: 20px 20px;
    border: 1px gray solid;
    border-radius: 5px;
    margin: 20px 20px;
    width: 50%;
}

.fld-so {
    width: 100%;
}
.fld-email, fld-email2 {
    width: 50%;
}
.fld-title label, .fld-emision label, .fld-ruts label {
    display: block;
}
.fld-title, .fld-emision, .fld-ruts {
    width: 30%;
}

.fld-so .file-selected{
    display: inline-block;
}

.dosf-admin-add-so > .title{
    font-weight: 600;
    font-size: 14px;
    padding: 5px 0px;
}

#tabla .actions .action:hover {
	font-size: 17px;
}